[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch TerminalEmulator
Icon=/home/metsatron/.local/share/dotcortex/guests/sanctuary-godzilla-xs/home/Pictures/computer-border-3x.png
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Keywords=terminal;command line;shell;console;xfce;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Terminal Emulator
Comment=Use the command line
X-XFCE-Source=file:///gnu/store/763r3rw6b5p5dxm59db88sdl416pvkyg-xfce4-settings-4.20.4/share/applications/xfce4-terminal-emulator.desktop
Path=
