[Desktop Entry]
Version=1.0
Type=Application
Name=The Internet
Comment=Internet Explorer
Exec=bash -lc 'source ~/.config/redstone-9x/portals.env 2>/dev/null; exec /home/metsatron/.local/bin/redstone-9x-run /home/metsatron/.local/bin/redstone-9x-ie "${AOL_URL:-about:blank}"'
Icon=internet-web-browser
Terminal=false
