[Desktop Entry]
Version=1.0
Type=Application
Name=Bash (CMD frame)
Comment=Bash shell in CMD colours
Exec=urxvt -name redstone-bash-cmd -title "Bash"
Icon=utilities-terminal
Terminal=false
