[Desktop Entry]
Version=1.0
Type=Application
Name=Bash
Comment=Bash shell in PowerShell colours
Exec=/home/metsatron/.local/bin/redstone-9x-bash --window
Icon=utilities-terminal
Terminal=false
