[Desktop Entry]
Version=1.0
Type=Application
Name=Bash (PowerShell frame)
Comment=Bash shell in PowerShell colours
Exec=urxvt -name redstone-bash-powershell -title "Bash"
Icon=bash
Terminal=false
