[Desktop Entry]
Version=1.0
Type=Application
Name=Bash
Comment=Bash shell in CMD colours
Exec=bash /home/metsatron/.local/bin/redstone-9x-run urxvt -name redstone-bash-cmd -title "Bash" -geometry 80x25 +sb -bg rgb:0c/0c/0c -fg rgb:cc/cc/cc -cr rgb:cc/cc/cc -fn "xft:Lucida Console:pixelsize=14:antialias=true" -e bash
Icon=utilities-terminal
Terminal=false
