[Desktop Entry]
Version=1.0
Type=Application
Name=Half-Life: Blue Shift
Comment=Half-Life: Blue Shift on Xash3D
Exec="/run/dotcortex/retropie/isos/ports/xash3d/Half-Life - Blue Shift (0.20).sh"
Icon=blue-shift
Terminal=false
