[Desktop Entry]
Version=1.0
Type=Application
Name=Command & Conquer
Comment=Command & Conquer on OpenRA
Exec="/run/dotcortex/retropie/isos/ports/openra/Command and Conquer (OpenRA).sh"
Icon=command-conquer
Terminal=false
