[Desktop Entry]
Version=1.0
Type=Application
Name=Diablo
Comment=Diablo on DevilutionX
Exec="/run/dotcortex/retropie/isos/ports/diablo/Diablo (DevilutionX).sh"
Icon=diablo
Terminal=false
