[Desktop Entry]
Version=1.0
Type=Application
Name=Duke Nukem 3D
Comment=Duke Nukem 3D on eduke32
Exec="/run/dotcortex/retropie/isos/ports/duke3d/Duke Nukem 3D (eduke32).sh"
Icon=duke-nukem-3d
Terminal=false
