[Desktop Entry]
Version=1.0
Type=Application
Name=Dune 2000
Comment=Dune 2000 on OpenRA
Exec=redstone-9x-openra --command=openra-d2k --
Icon=net.openra.OpenRA-d2k
Terminal=false
