[Desktop Entry]
Version=1.0
Type=Application
Name=Half-Life
Comment=Half-Life on Xash3D
Exec="/run/dotcortex/retropie/isos/ports/xash3d/Half-Life (0.20).sh"
Icon=half-life
Terminal=false
