[Desktop Entry]
Version=1.0
Type=Application
Name=Diablo: Hellfire
Comment=Hellfire on DevilutionX
Exec="/run/dotcortex/retropie/isos/ports/diablo/Hellfire (DevilutionX).sh"
Icon=hellfire
Terminal=false
Hidden=true
