[Desktop Entry]
Version=1.0
Type=Application
Name=My Briefcase
Comment=Open personal briefcase folder
Exec=pcmanfm -n ~/Briefcase
Icon=my_briefcase
Terminal=false
