[Desktop Entry]
Version=1.0
Type=Application
Name=My Computer
Comment=Browse this computer
Exec=sh -c 'pcmanfm "$HOME/.local/share/redstone-9x/My Computer"'
Icon=computer
Terminal=false
