[Desktop Entry]
Version=1.0
Type=Application
Name=My Documents
Comment=Open your Documents folder
Exec=sh -c 'pcmanfm "$HOME/Documents"'
Icon=folder-documents
Terminal=false
