[Desktop Entry]
Version=1.0
Type=Application
Name=Windows PowerShell
Comment=PowerShell 7 for Linux
Exec=urxvt -name redstone-powershell -title "Windows PowerShell" -e pwsh
Icon=utilities-terminal
Terminal=false
