[Desktop Entry]
Version=1.0
Type=Application
Name=Windows PowerShell
Comment=PowerShell 7 for Linux
Exec=xterm -title "Windows PowerShell" -bg "#012456" -fg white -e pwsh
Icon=utilities-terminal
Terminal=false
