[Desktop Entry]
Version=1.0
Type=Application
Name=Program Manager
Comment=Browse all programs as folders
Exec=sh -c 'pcmanfm -n "$HOME/Programs"'
Icon=gnome-applications
Terminal=false
