[Desktop Entry]
Version=1.0
Type=Application
Name=Quake
Comment=Quake on QuakeSpasm
Exec="/run/dotcortex/retropie/isos/ports/quake/Quake (QuakeSpasm).sh"
Icon=quake
Terminal=false
