[Desktop Entry]
Version=1.0
Type=Application
Name=Recycle Bin
Comment=Browse the Recycle Bin
Exec=sh -c 'pcmanfm "$HOME/.local/share/Trash/files"'
Icon=user-trash
Terminal=false
