[Desktop Entry]
Version=1.0
Type=Application
Name=Command & Conquer: Red Alert
Comment=Red Alert on OpenRA
Exec="/run/dotcortex/retropie/isos/ports/openra/Red Alert (OpenRA).sh"
Icon=red-alert
Terminal=false
Hidden=true
