[Desktop Entry]
Version=1.0
Type=Application
Name=Theme Hospital
Comment=Theme Hospital on CorsixTH
Exec="/run/dotcortex/retropie/isos/ports/theme-hospital/Theme Hospital (CorsixTH).sh"
Icon=theme-hospital
Terminal=false
