[Desktop Entry]
Version=1.0
Type=Application
Name=Tomb Raider I
Comment=Tomb Raider I on TRX
Exec=redstone-9x-trx --mod tr1
Icon=/home/metsatron/.local/share/dotcortex/guests/sanctuary-redstone-9x/home/.local/share/icons/redstone-9x/tomb-raider-1.png
Terminal=false
