[Desktop Entry]
Version=1.0
Type=Application
Name=Tomb Raider III
Comment=Tomb Raider III on TRX
Exec=redstone-9x-trx --mod tr3
Icon=/home/metsatron/.local/share/dotcortex/guests/sanctuary-redstone-9x/home/.local/share/icons/redstone-9x/tomb-raider-3.png
Terminal=false
