[Desktop Entry]
Version=1.0
Type=Application
Name=Tomb Raider II
Comment=Tomb Raider II on TRX
Exec=redstone-9x-trx --mod tr2
Icon=/home/metsatron/.local/share/dotcortex/guests/sanctuary-redstone-9x/home/.local/share/icons/redstone-9x/tomb-raider-2.png
Terminal=false
