[Desktop Entry]
Version=1.0
Type=Application
Name=Ultimate Doom
Comment=Ultimate Doom on crispy-doom, with the CD-quality remastered soundtrack
Exec="/run/dotcortex/retropie/isos/ports/doom/Ultimate Doom (MP3) (crispy).sh"
Icon=ultimate-doom
Terminal=false
