[Desktop Entry]
Version=1.0
Type=Application
Name=Zsh
Comment=Zsh shell in PowerShell colours
Exec=/home/metsatron/.local/bin/redstone-9x-zsh --window
Icon=utilities-terminal
Terminal=false
