polkit.addRule(function(action, subject) {
  if (subject.user == "@REDSTONE_MEDIA_USER@" &&
      (action.id == "org.freedesktop.udisks2.loop-setup" ||
       action.id == "org.freedesktop.udisks2.filesystem-mount")) {
    return polkit.Result.YES;
  }
});
