# Logs
log_dir=/home/metsatron/.local/share/symlinks
timestamp_logs=1

# Blacklists (prunes whole subtrees)
exclude_dir=/home/metsatron/.local/share/Trash
exclude_dir=*/dosdevices

# Optional: helps repair absolute links from another user’s home
old_home=/home/ander
