[submodule "linux/.config/Brackets/extensions/user/brackets-beautify"]
	path = linux/.config/Brackets/extensions/user/brackets-beautify
	url = git://github.com/drewhamlett/brackets-beautify.git

[submodule "linux/.config/Brackets/extensions/user/csscomb-brackets"]
    path = linux/.config/Brackets/extensions/user/csscomb-brackets
    url = git://github.com/hano/csscomb-brackets.git

[submodule "all/.config/bspwm/panel/bar"]
    path = all/.config/bspwm/panel/bar
    url = git://github.com/LemonBoy/bar.git

[submodule "all/.config/bspwm/panel/sutils"]
    path = all/.config/bspwm/panel/sutils
    url = git://github.com/baskerville/sutils.git

[submodule "all/.config/bspwm/panel/xtitle"]
    path = all/.config/bspwm/panel/xtitle
    url = git://github.com/baskerville/xtitle.git

[submodule "all/.oh-my-fish"]
    path = all/.oh-my-fish
    url = git://github.com/oh-my-fish/oh-my-fish.git

[submodule "all/.tmux/plugins/tmux-continuum"]
    path = all/.tmux/plugins/tmux-continuum
    url = git://github.com/tmux-plugins/tmux-continuum.git

[submodule "all/.tmux/plugins/tmux-resurrect"]
    path = all/.tmux/plugins/tmux-resurrect
    url = git://github.com/tmux-plugins/tmux-resurrect.git

[submodule "all/.tmux/plugins/tmux-sensible"]
    path = all/.tmux/plugins/tmux-sensible
    url = git://github.com/tmux-plugins/tmux-sensible.git

[submodule "all/.tmux/plugins/tpm"]
    path = all/.tmux/plugins/tpm
    url = git://github.com/tmux-plugins/tpm.git

[submodule "all/.vim/bundle/flatlandia"]
    path = all/.vim/bundle/flatlandia
    url = git://github.com/jordwalke/flatlandia.git

[submodule "all/.vim/bundle/vim-airline"]
    path = all/.vim/bundle/vim-airline
    url = git://github.com/bling/vim-airline.git

[submodule "all/.vim/bundle/vim-obsession"]
    path = all/.vim/bundle/vim-obsession
    url = git://github.com/tpope/vim-obsession.git

[submodule "all/.config/zsh/zgen"]
    path = all/.config/zsh/zgen
    url = git://github.com/tarjoilija/zgen.git

[submodule "all/.zgen/robbyrussell/oh-my-zsh-master"]
    path = all/.zgen/robbyrussell/oh-my-zsh-master
    url = git://github.com/robbyrussell/oh-my-zsh.git

[submodule "all/.zgen/robbyrussell/oh-my-zsh-master/cuctom/themes"]
    path = all/.zgen/robbyrussell/oh-my-zsh-master/custom/themes
    url = git://github.com/thvitt/tvline
