[submodule "linux/.config/Brackets/extensions/user/brackets-beautify"]
	path = linux/.config/Brackets/extensions/user/brackets-beautify
	url = https://github.com/drewhamlett/brackets-beautify.git
	branch = master
[submodule "linux/.config/Brackets/extensions/user/csscomb-brackets"]
	path = linux/.config/Brackets/extensions/user/csscomb-brackets
	url = https://github.com/hano/csscomb-brackets.git
	branch = master
[submodule "all/.config/bspwm/panel/bar"]
	path = all/.config/bspwm/panel/bar
	url = https://github.com/LemonBoy/bar.git
	branch = master
[submodule "all/.config/bspwm/panel/sutils"]
	path = all/.config/bspwm/panel/sutils
	url = https://github.com/baskerville/sutils.git
	branch = master
[submodule "all/.config/bspwm/panel/xtitle"]
	path = all/.config/bspwm/panel/xtitle
	url = https://github.com/baskerville/xtitle.git
	branch = master
[submodule "all/.oh-my-fish"]
	path = all/.oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish.git
	branch = master
[submodule "all/.tmux/plugins/tmux-continuum"]
	path = all/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
	branch = master
[submodule "all/.tmux/plugins/tmux-resurrect"]
	path = all/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "all/.tmux/plugins/tmux-sensible"]
	path = all/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
	branch = master
[submodule "all/.tmux/plugins/tpm"]
	path = all/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "all/.vim/bundle/flatlandia"]
	path = all/.vim/bundle/flatlandia
	url = https://github.com/jordwalke/flatlandia.git
	branch = master
[submodule "all/.vim/bundle/vim-airline"]
	path = all/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "all/.vim/bundle/vim-obsession"]
	path = all/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
	branch = master
[submodule "all/.zplug"]
	path = all/.zplug
	url = https://github.com/zplug/zplug.git
	branch = master
[submodule "all/.colors/base16-xfce4-terminal"]
	path = all/.colors/base16-xfce4-terminal
	url = https://github.com/afg984/base16-xfce4-terminal.git
	branch = main
[submodule "all/.vim/plugged/base16-vim"]
	path = all/.vim/plugged/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "all/.vim/plugged/base16.nvim"]
	path = all/.vim/plugged/base16.nvim
	url = https://github.com/Soares/base16.nvim
	branch = master
[submodule "all/.vim/plugged/bclose.vim"]
	path = all/.vim/plugged/bclose.vim
	url = https://github.com/rbgrouleff/bclose.vim.git
	branch = master
[submodule "all/.vim/plugged/highlighter.nvim"]
	path = all/.vim/plugged/highlighter.nvim
	url = https://github.com/KeitaNakamura/highlighter.nvim.git
[submodule "all/.vim/plugged/ranger.vim"]
	path = all/.vim/plugged/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim.git
[submodule "all/.vim/plugged/seoul256.vim"]
	path = all/.vim/plugged/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
	branch = master
[submodule "all/.vim/plugged/vim-airline"]
	path = all/.vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "all/.vim/plugged/vim-airline-themes"]
	path = all/.vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master
[submodule "all/.vim/plugged/vim-kalisi"]
	path = all/.vim/plugged/vim-kalisi
	url = https://github.com/junegunn/vim-plug.git
[submodule "all/.vim/plugged/vim-sensible"]
	path = all/.vim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
	branch = master
[submodule "linux/.local/share/icons/irix-icons-linux"]
	path = linux/.local/share/icons/irix-icons-linux
	url = https://github.com/mrjovanovic/irix-icons-linux.git
	branch = master
[submodule "all/.emacs.d.spacemacs"]
	path = all/.emacs.d.spacemacs
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "linux/.themes/BeOS-r5-XFWM"]
	path = linux/.themes/BeOS-r5-XFWM
	url = git@gitlab.com:metsatron/BeOS-r5-XFWM.git
[submodule "linux/.themes/BeOS-r5-GTK"]
	path = linux/.themes/BeOS-r5-GTK
	url = git@gitlab.com:metsatron/BeOS-r5-GTK.git
	branch = master
[submodule "linux/.themes/raleigh-reloaded"]
	path = linux/.themes/raleigh-reloaded
	url = https://github.com/vlastavesely/raleigh-reloaded.git
	branch = master
[submodule "linux/.local/share/icons/Throbbers"]
	path = linux/.local/share/icons/Throbbers
	url = git@gitlab.com:metsatron/throbbers.git
	branch = master
[submodule "linux/.local/share/dockbarx/themes"]
	path = linux/.local/share/dockbarx/themes
	url = git@gitlab.com:metsatron/BeOS-dr8-DockbarX.git
	branch = master
[submodule "linux/.local/share/icons/BeOS-r5-Icons"]
	path = linux/.local/share/icons/BeOS-r5-Icons
	url = git@gitlab.com:metsatron/beos-r5-icons.git
	branch = master
[submodule "linux/.config/xfce4/weather/icons"]
	path = linux/.config/xfce4/weather/icons
	url = https://github.com/kevlar1818/xfce4-weather-mono-icons.git
	branch = master
[submodule "linux/.themes/Windows-10"]
	path = linux/.themes/Windows-10
	url = https://github.com/B00merang-Project/Windows-10.git
	branch = master
[submodule "linux/.themes/Mac-OS-X-Cheetah"]
	path = linux/.themes/Mac-OS-X-Cheetah
	url = https://github.com/B00merang-Project/OS-X-Mavericks.git
	branch = master
[submodule "linux/.themes/macOS"]
	path = linux/.themes/macOS
	url = https://github.com/B00merang-Project/macOS.git
	branch = master
[submodule "linux/.themes/Android"]
	path = linux/.themes/Android
	url = https://github.com/B00merang-Project/Android.git
	branch = master
[submodule "linux/.themes/Haiku"]
	path = linux/.themes/Haiku
	url = https://github.com/B00merang-Project/Haiku.git
	branch = master
[submodule "linux/.themes/Solaris-9"]
	path = linux/.themes/Solaris-9
	url = https://github.com/B00merang-Project/Solaris-9.git
	branch = master
[submodule "linux/.themes/Unity-8"]
	path = linux/.themes/Unity-8
	url = https://github.com/B00merang-Project/Unity-8.git
	branch = master
[submodule "linux/.themes/B00merang-Future"]
	path = linux/.themes/B00merang-Future
	url = https://github.com/B00merang-Project/B00merang-Future.git
	branch = master
[submodule "linux/.themes/Windows-10-Dark"]
	path = linux/.themes/Windows-10-Dark
	url = https://github.com/B00merang-Project/Windows-10-Dark.git
	branch = master
[submodule "linux/.themes/Windows-10-Acrylic-Dark"]
	path = linux/.themes/Windows-10-Acrylic-Dark
	url = https://github.com/B00merang-Project/Windows-10-Dark.git
	branch = master
[submodule "linux/.themes/Windows-10-Acrylic"]
	path = linux/.themes/Windows-10-Acrylic
	url = https://github.com/B00merang-Project/Windows-10-Acrylic.git
	branch = master
[submodule "linux/.themes/Windows-Whistler"]
	path = linux/.themes/Windows-Whistler
	url = https://github.com/B00merang-Project/Windows-Whistler.git
	branch = master
[submodule "linux/.themes/Windows-Vista"]
	path = linux/.themes/Windows-Vista
	url = https://github.com/B00merang-Project/Windows-Vista.git
	branch = master
[submodule "linux/.themes/Windows-Server-2019"]
	path = linux/.themes/Windows-Server-2019
	url = https://github.com/B00merang-Project/Windows-Server-2019.git
	branch = master
[submodule "linux/.themes/Windows-Server-2012-R2"]
	path = linux/.themes/Windows-Server-2012-R2
	url = https://github.com/B00merang-Project/Windows-Server-2012-R2.git
	branch = master
[submodule "linux/.themes/Windows-Server-2003"]
	path = linux/.themes/Windows-Server-2003
	url = https://github.com/B00merang-Project/Windows-Server-2003.git
	branch = master
[submodule "linux/.themes/Windows-Phone-8.1-Dark"]
	path = linux/.themes/Windows-Phone-8.1-Dark
	url = https://github.com/B00merang-Project/Windows-Phone-8.1-Dark.git
	branch = master
[submodule "linux/.themes/Windows-Phone-8.1"]
	path = linux/.themes/Windows-Phone-8.1
	url = https://github.com/B00merang-Project/Windows-Phone-8.1.git
	branch = master
[submodule "linux/.themes/Windows-Longhorn"]
	path = linux/.themes/Windows-Longhorn
	url = https://github.com/B00merang-Project/Windows-Longhorn.git
	branch = master
[submodule "linux/.themes/Windows-8.1-Metro"]
	path = linux/.themes/Windows-8.1-Metro
	url = https://github.com/B00merang-Project/Windows-8.1-Metro.git
	branch = master
[submodule "linux/.themes/Windows-8.1"]
	path = linux/.themes/Windows-8.1
	url = https://github.com/B00merang-Project/Windows-8.1.git
	branch = master
[submodule "linux/.themes/Windows-7"]
	path = linux/.themes/Windows-7
	url = https://github.com/B00merang-Project/Windows-7.git
	branch = master
[submodule "linux/.themes/Windows-3.11"]
	path = linux/.themes/Windows-3.11
	url = https://github.com/B00merang-Project/Windows-3.11.git
	branch = master
[submodule "linux/.themes/Windows-2.0"]
	path = linux/.themes/Windows-2.0
	url = https://github.com/B00merang-Project/Windows-2.0.git
	branch = master
[submodule "linux/.themes/Wear-OS"]
	path = linux/.themes/Wear-OS
	url = https://github.com/B00merang-Project/Wear-OS.git
	branch = master
[submodule "linux/.themes/watchOS"]
	path = linux/.themes/watchOS
	url = https://github.com/B00merang-Project/watchOS.git
	branch = master
[submodule "linux/.themes/Unity-7"]
	path = linux/.themes/Unity-7
	url = https://github.com/B00merang-Project/Unity-7.git
	branch = master
[submodule "linux/.themes/tvOS"]
	path = linux/.themes/tvOS
	url = https://github.com/B00merang-Project/tvOS.git
	branch = master
[submodule "linux/.themes/Termina"]
	path = linux/.themes/Termina
	url = https://github.com/B00merang-Project/Termina.git
	branch = master
[submodule "linux/.themes/System-4"]
	path = linux/.themes/System-4
	url = https://github.com/B00merang-Project/System-4.git
	branch = master
[submodule "linux/.themes/Solaris-8"]
	path = linux/.themes/Solaris-8
	url = https://github.com/B00merang-Project/Solaris-8.git
	branch = master
[submodule "linux/.themes/Solaris-11-Light"]
	path = linux/.themes/Solaris-11-Light
	url = https://github.com/B00merang-Project/Solaris-11-Light.git
	branch = master
[submodule "linux/.themes/Solaris-11-Dark"]
	path = linux/.themes/Solaris-11-Dark
	url = https://github.com/B00merang-Project/Solaris-11-Dark.git
	branch = master
[submodule "linux/.themes/Solaris-11"]
	path = linux/.themes/Solaris-11
	url = https://github.com/B00merang-Project/Solaris-11.git
	branch = master
[submodule "linux/.themes/Solaris-10"]
	path = linux/.themes/Solaris-10
	url = https://github.com/B00merang-Project/Solaris-10.git
	branch = master
[submodule "linux/.themes/OS-X-Yosemite"]
	path = linux/.themes/OS-X-Yosemite
	url = https://github.com/B00merang-Project/OS-X-Yosemite.git
	branch = master
[submodule "linux/.themes/OS-X-Mavericks"]
	path = linux/.themes/OS-X-Mavericks
	url = https://github.com/B00merang-Project/OS-X-Mavericks.git
	branch = master
[submodule "linux/.themes/OS-X-Leopard"]
	path = linux/.themes/OS-X-Leopard
	url = https://github.com/B00merang-Project/OS-X-Leopard.git
	branch = master
[submodule "linux/.themes/OS-2-Warp-4"]
	path = linux/.themes/OS-2-Warp-4
	url = https://github.com/B00merang-Project/OS-2-Warp-4.git
	branch = master
[submodule "linux/.themes/B00merang-Navy"]
	path = linux/.themes/B00merang-Navy
	url = https://github.com/B00merang-Project/B00merang-Navy.git
	branch = master
[submodule "linux/.themes/B00merang-Green"]
	path = linux/.themes/B00merang-Green
	url = https://github.com/B00merang-Project/B00merang-Green.git
	branch = master
[submodule "linux/.themes/B00merang-Glass"]
	path = linux/.themes/B00merang-Glass
	url = https://github.com/B00merang-Project/B00merang-Glass.git
	branch = master
[submodule "linux/.themes/B00merang-Flat"]
	path = linux/.themes/B00merang-Flat
	url = https://github.com/B00merang-Project/B00merang-Flat.git
	branch = master
[submodule "linux/.themes/B00merang-Dark"]
	path = linux/.themes/B00merang-Dark
	url = https://github.com/B00merang-Project/B00merang-Dark.git
	branch = master
[submodule "linux/.themes/B00merang-Circle"]
	path = linux/.themes/B00merang-Circle
	url = https://github.com/B00merang-Project/B00merang-Circle.git
	branch = master
[submodule "linux/.themes/B00merang-Brome"]
	path = linux/.themes/B00merang-Brome
	url = https://github.com/B00merang-Project/B00merang-Brome.git
	branch = master
[submodule "linux/.themes/B00merang-Blackout"]
	path = linux/.themes/B00merang-Blackout
	url = https://github.com/B00merang-Project/B00merang-Blackout.git
	branch = master
[submodule "linux/.themes/B00merang-Alpha"]
	path = linux/.themes/B00merang-Alpha
	url = https://github.com/B00merang-Project/B00merang-Alpha.git
	branch = master
[submodule "linux/.themes/Android-TV"]
	path = linux/.themes/Android-TV
	url = https://github.com/B00merang-Project/Android-TV.git
	branch = master
[submodule "linux/.themes/Android-4.4-Kitkat-Dark"]
	path = linux/.themes/Android-4.4-Kitkat-Dark
	url = https://github.com/B00merang-Project/Android-4.4-Kitkat-Dark.git
	branch = master
[submodule "linux/.themes/Android-4.4-Kitkat"]
	path = linux/.themes/Android-4.4-Kitkat
	url = https://github.com/B00merang-Project/Android-4.4-Kitkat.git
	branch = master
[submodule "linux/.themes/BeOS-r5"]
	path = linux/.themes/BeOS-r5
	url = https://github.com/B00merang-Project/BeOS-R5.git
	branch = master
[submodule "linux/.themes/macOS-Dark"]
	path = linux/.themes/macOS-Dark
	url = https://github.com/B00merang-Project/macOS-Dark.git
	branch = master
[submodule "linux/.themes/Mac-OS-9-Classic"]
	path = linux/.themes/Mac-OS-9-Classic
	url = https://github.com/B00merang-Project/Mac-OS-9-Classic.git
	branch = master
[submodule "linux/.themes/iOS-4"]
	path = linux/.themes/iOS-4
	url = https://github.com/B00merang-Project/iOS-4.git
	branch = master
[submodule "linux/.themes/iOS"]
	path = linux/.themes/iOS
	url = https://github.com/B00merang-Project/iOS.git
	branch = master
[submodule "linux/.themes/Human"]
	path = linux/.themes/Human
	url = https://github.com/B00merang-Project/Human.git
	branch = master
[submodule "linux/.themes/Fuchsia"]
	path = linux/.themes/Fuchsia
	url = https://github.com/B00merang-Project/Fuchsia.git
	branch = master
[submodule "linux/.themes/Chrome-OS"]
	path = linux/.themes/Chrome-OS
	url = https://github.com/B00merang-Project/Chrome-OS.git
	branch = master
[submodule "linux/.themes/Brilliance"]
	path = linux/.themes/Brilliance
	url = https://github.com/B00merang-Project/Brilliance.git
	branch = master
[submodule "linux/.themes/Windows-XP"]
	path = linux/.themes/Windows-XP
	url = https://github.com/B00merang-Project/Windows-XP.git
	branch = master
[submodule "linux/.themes/Windows-7-Decorations"]
	path = linux/.themes/Windows-7-Decorations
	url = https://github.com/B00merang-Project/Windows-7-Decorations.git
	branch = master
[submodule "linux/.themes/Windows-10-Decorations"]
	path = linux/.themes/Windows-10-Decorations
	url = https://github.com/B00merang-Project/Windows-10-Decorations.git
	branch = master
[submodule "linux/.local/share/icons/Windows-10-Dark"]
	path = linux/.local/share/icons/Windows-10-Dark
	url = https://github.com/B00merang-Artwork/Windows-10-Dark.git
	branch = master
[submodule "linux/.local/share/icons/Windows-10"]
	path = linux/.local/share/icons/Windows-10
	url = https://github.com/B00merang-Artwork/Windows-10.git
	branch = master
[submodule "linux/.local/share/icons/Windows-XP"]
	path = linux/.local/share/icons/Windows-XP
	url = https://github.com/B00merang-Artwork/Windows-XP.git
	branch = master
[submodule "linux/.local/share/icons/Windows-7"]
	path = linux/.local/share/icons/Windows-7
	url = https://github.com/B00merang-Artwork/Windows-7.git
	branch = master
[submodule "linux/.local/share/icons/Windows-8"]
	path = linux/.local/share/icons/Windows-8
	url = https://github.com/B00merang-Artwork/Windows-8.git
	branch = master
[submodule "linux/.local/share/icons/Mac-OS-X-Lion"]
	path = linux/.local/share/icons/Mac-OS-X-Lion
	url = https://github.com/B00merang-Artwork/Mac-OS-X-Lion.git
	branch = master
[submodule "linux/.local/share/icons/Mac-OS-X-Cheetah"]
	path = linux/.local/share/icons/Mac-OS-X-Cheetah
	url = https://github.com/B00merang-Artwork/Mac-OS-X-Cheetah.git
	branch = master
[submodule "linux/.local/share/icons/Windows-Longhorn"]
	path = linux/.local/share/icons/Windows-Longhorn
	url = https://github.com/B00merang-Artwork/Windows-Longhorn.git
	branch = master
[submodule "linux/.local/share/icons/Platinum9"]
	path = linux/.local/share/icons/Platinum9
	url = https://github.com/Elbullazul/Platinum9.git
	branch = master
[submodule "linux/.local/share/icons/Chicago95"]
	path = linux/.local/share/icons/Chicago95
	url = https://github.com/grassmunk/Chicago95.git
	branch = master
[submodule "linux/.themes/Blueshell"]
	path = linux/.themes/Blueshell
	url = https://gitlab.com/KlipKyle/Blueshell.git
	branch = master
[submodule "linux/.local/share/icons/crystalSVG"]
	path = linux/.local/share/icons/crystalSVG
	url = https://github.com/MartinF99/crystalSVG.git
	branch = master
[submodule "linux/.local/share/icons/Grayscale"]
	path = linux/.local/share/icons/Grayscale
	url = https://github.com/B00merang-Artwork/Grayscale
	branch = master
[submodule "all/.config/emacs"]
	path = all/.config/emacs
	url = https://github.com/doomemacs/doomemacs
