[Desktop Entry]
Type=Application
Name=Trash
Comment=Open the sanctuary trash
Exec=thunar trash:///
Icon=user-trash
Terminal=false
Categories=Utility;FileManager;
StartupNotify=true
