[Desktop Entry]
Type=Application
Name=SOUND MODULES / Audacious
Exec=audacious
Categories=GodzillaXS;GodzillaSoundModules;
NoDisplay=false
Terminal=false
