[Desktop Entry]
Type=Application
Name=Firefox
Comment=Firefox with Diet Netscape chrome
Exec=firefox
Icon=internet-web-browser
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
