[Desktop Entry]
Type=Application
Name=Menu Editor
Comment=Edit sanctuary application menu entries
Exec=/home/metsatron/.local/share/dotcortex/guests/sanctuary-sx/home/.local/bin/sanctuary-flatpak-run org.bluesabre.MenuLibre
Icon=org.bluesabre.MenuLibre
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=true
