[Desktop Entry]
Type=Application
Name=PC COMPATIBILITY BOARD / DOSBox Staging
Exec=dosbox
Categories=GodzillaXS;GodzillaPC;
NoDisplay=false
Terminal=false
