########################################################################
# Panel
########################################################################

style "panel" = "default"
{
	bg_pixmap[NORMAL] = "panel/panel.png"
	bg_pixmap[ACTIVE] = "panel/panel.png"
	bg_pixmap[SELECTED] = "panel/panel.png"
	bg_pixmap[INSENSITIVE] = "panel/panel.png"
	bg_pixmap[PRELIGHT] = "panel/panel.png"
}

class "*Mail*" style "panel"
class "*notif*" style "panel"
class "*Notif*" style "panel"
class "*Tray*" style "panel"
class "*tray*" style "panel"
widget_class "*Mail*" style "panel"
widget_class "*notif*" style "panel"
widget_class "*Notif*" style "panel"
widget_class "*Tray*" style "panel"
widget_class "*tray*" style "panel"
widget_class "*BonoboDockItem" style "panel"
class "*BonoboDockItem" style "panel"
widget "*TrayIcon*" style "panel"
class "*Panel*Applet*" style "panel"
widget_class "*Panel*GtkToggleButton" style "panel"
widget_class "*Panel*GtkButton" style "panel"
widget_class "*.Panel*Button*GtkLabel" 	style "panel"
widget_class "*.Panel*GtkLabel" style "panel"
widget "*PanelWidget*" style "panel"
widget "*PanelApplet*" style "panel"
