[Desktop Entry]
Type=Application
Name=Shut Down...
Comment=Instantly close the Godzilla XS sanctuary session
Exec=xfce4-session-logout --logout --fast
Icon=system-shutdown
Terminal=false
Categories=System;X-GodzillaSystem;
StartupNotify=false
OnlyShowIn=XFCE;
