/*

"CDE inspired"
a theme by
dusthillguy AKA dust hill resident

http://www.youtube.com/dusthillguy
http://soundcloud.com/dusthillguy
http://ucollective.org/profile/dusthillguy/

*/

@define-color bg_normal #AFADBF ;
@define-color bg_bright #C7C4D9 ;  /* #EEEBE7; */
@define-color bg_dim #9E9CAF ;

@define-color border_normal #77748A ;
@define-color border_bright #AFA699 ;
@define-color border_dim #6D6B7C ;

@define-color text_normal #000000;
@define-color text_bright #000000 ;
@define-color text_dim #202020 ;

@define-color selected_bg #B24D7A ;
@define-color selected_bg_odd #A24B72 ;
@define-color selected_text #ffffff ;

@define-color wbg_normal #FFF7E9 ;

/* @define-color solarispurple #B24D7A ; */
@define-color bg_dimmed_menu #9BA0B0 ;

/*experimental*/

@define-color view_normal_light #FFF7E9 ;
@define-color view_normal_dark  #FEEAC9 ;

@define-color view_sorted_light  #FEEAC9 ;
@define-color view_sorted_dark   #FADEAD ;


/* DBZ FOREVER!!! !!! !!! */
