/*

"CDE inspired"
a theme by
dusthillguy AKA dust hill resident

Large parts copy/pasted from other places

http://www.youtube.com/dusthillguy
http://soundcloud.com/dusthillguy
http://ucollective.org/profile/dusthillguy/

*/

@import url("colours.css");
@import url("widgets.css");

/* @import url("experiment.css"); */

/* DBZ FOREVER!!! !!! !!! */
