/*

"CDE inspired"
a theme by
dusthillguy AKA dust hill resident

http://www.youtube.com/dusthillguy
http://soundcloud.com/dusthillguy
http://ucollective.org/profile/dusthillguy/

*/

* {

    -GtkCheckButton-indicator-size: 12;
    -GtkCheckMenuItem-indicator-size: 14;
    -GtkScrollbar-min-slider-length: 30;
    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;


  color		: @text_normal ;
  background-color: @bg_normal ;
  border-color: @border_normal ;
  border-style: outset; 
}

*:active {
  color		: @text_normal ;
  background-color: @bg_dim ;
  border-color: @border_dim ;
  border-style: inset;
}

*:insensitive {
  color: @text_dim ;
  background-color: @bg_dim ;
  border-color: @border_dim ;
  text-shadow: 1 1 0 white ;
}

*:selected {
  color		: @text_normal ;
  background-color: @bg_normal ;
}

*:hover {
  color		: @text_bright ;
  border-color	: @border_bright ;
  background-color: @bg_bright ;
}

/* === I had to add this stuff after a GTK3 update.
It makes sure all the borders appear correctly. === */


.button, .entry, .slider, .menubar, .toolbar, tab, .menu, GtkScale, GtkScale.trough, GtkNotebook, .primary-toolbar, GtkToolbar,
GtkBox, GtkHBox, GtkVBox {
border-width: 1px 1px 1px 1px;
}

GtkNotebook {
border-color: @border_normal ;
box-shadow: inset -1 0 black ;
}

.menubar.menuitem {
border-width: 0px 0px 0px 0px ;
}

/* test */
.pane-separator {
border-width: 1px ;
}

GtkToolbar * {
border-width: 1px ;
}

/* ======== end border stuff ========== */

/* progressbar stuff */

GtkProgressBar.progressbar {
  border-color	: @border_bright ;
  background-color: @bg_bright ;
  border-width: 1px;
}

GtkProgressBar.trough {
border-width: 1px;
border-style: inset; 
}


/* menu stuff */

.menu {
border-style: inset;
border-color: darker (@text_dim);
}

/* entry and view stuff */

.entry:selected, .view:selected, .entry:selected:hover, .view:selected:hover {
  color		: @text_normal ;
  background-color: @bg_normal ;
}

.entry, .view {
background-color : @wbg_normal ;
border-style: inset;
}

.view:hover {
color : @text_normal ;
background-color : @wbg_normal ;
}

.view.separator, .view.separator:hover {
    background-color: @border_normal ;
}

.view.radio:hover {
border-color: @text_normal ;
background-color: @wbg_normal ;
}

.view.check:hover {
border-color: @text_normal ;
background-color: @wbg_normal ;
}

/* tab stuff */


tab, tab:hover {
background-color : @bg_dim ;
border-color: darker (@bg_dim) ; 
 border-style: solid;
}

tab:insensitive {
  background-color: @bg_dim ;
}

tab:selected {
  background-color: @bg_normal ;
  border-color: @border_normal ;
}

tab:active {
  background-color: @bg_normal ;
  border-color: @border_normal ;
  border-style: outset; 
}

/* scrollbar crap */

.scrollbar:hover {
  color		: @text_bright ;
  border-color	: @border_bright ;
  background-color: @bg_bright ;
}

.scrollbar:active {
  color		: @text_bright ;
  border-color	: @border_bright ;
  background-color: @bg_bright ;
  border-style: outset;
}

.scrollbar {
color		: @text_normal ;
  background-color: @bg_normal ;
  border-color: @border_normal ;
}

.scrollbar:insensitive {
color		: @text_dim ;
  background-color: @bg_dim ;
  border-color: @border_dim ;
}

.scrollbar.trough {
color : @bg_dim ;
background-color: @bg_dim ;
border-color: @border_dim ;
}

/*
.scrollbar.slider {
}
*/

/* GTKscale crap */

GtkScale.slider {
color		: @border_normal ;
  background-color: @bg_normal ;
  border-color: @border_normal ;
}

GtkScale.slider:hover {
background-color: @bg_bright ;
border-color: @border_bright ;
}

GtkScale.slider:active {
color		: @border_dim ;
border-color: @border_bright ;
border-style : outset ;
}

GtkScale.trough {
color : @text_dim ;
background-color: @bg_dim ;
border-color: @border_normal ;
border-style: inset ;
}

/* check crap */
/* After a GTK3 update, checks and radios stopped working correctly. They're supposed to have a black background, but they just use the @bg_normal colour. If anyone can help me with this, let me know - dusthillresident@gmail.com */ 

.check {
color: @text_normal ;
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: solid ;
border-width: 1px ;
}

.check:active {
color: @text_normal ;
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: solid ;
border-width: 1px ;
}


.check:insensitive {
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: solid ;
border-width: 1px ;
}

.check:selected {
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: solid ;
border-width: 1px ;
}

.check:hover {
border-color: @text_bright ;
background-color: @bg_bright ;
border-style: solid ;
border-width: 1px ;
}

/* menu check stuff now */

GtkMenuItem.check {
color: @text_normal ;
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: inset ;
border-width: 0px ;
}

GtkMenuItem.check:active {
color: @text_normal ;
border-color: @text_normal ;
background-color: @bg_normal ;
border-style: inset ;
border-width: 0px ;
}

GtkMenuItem.check:insensitive {
border-color: @text_normal ;
background-color: @bg_normal ;
border-style: inset ;
border-width: 0px ;
}

GtkMenuItem.check:selected {
border-color: @text_normal ;
background-color: @bg_normal ;
border-style: inset ;
border-width: 0px ;
}

GtkMenuItem.check:hover {
border-color: @text_bright ;
background-color: @bg_bright ;
border-style: inset ;
border-width: 0px ;
}

/* radio crap */

.radio {
color: @text_normal ;
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: solid ;
border-width: 1px ;
}

.radio:active {
color: @text_normal ;
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: solid ;
border-width: 1px ;
}


.radio:insensitive {
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: solid ;
border-width: 1px ;
}

.radio:selected {
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: solid ;
border-width: 1px ;
}

.radio:hover {
border-color: @text_bright ;
background-color: @bg_bright ;
border-style: solid ;
border-width: 1px ;
}

/* menu radio stuff now */

GtkMenuItem.radio {
color: @text_normal ;
border-color: @text_normal ;
background-color: @wbg_normal ;
border-style: inset ;
border-width: 0px ;
}

GtkMenuItem.radio:active {
color: @text_normal ;
border-color: @text_normal ;
background-color: @bg_normal ;
border-style: inset ;
border-width: 0px ;
}

GtkMenuItem.radio:insensitive {
border-color: @text_normal ;
background-color: @bg_normal ;
border-style: inset ;
border-width: 0px ;
}

GtkMenuItem.radio:selected {
border-color: @text_normal ;
background-color: @bg_normal ;
border-style: inset ;
border-width: 0px ;
}

GtkMenuItem.radio:hover {
border-color: @text_bright ;
background-color: @bg_bright ;
border-style: inset ;
border-width: 0px ;
}

/* button crap */

/*
.button:active {
background-color: @bg_dim
}
*/

.entry.button {
  color		: @text_normal ;
  background-color: @bg_normal ;
  border-color: @border_normal ;
  border-style: outset ;
}

.entry.button:active {
background-color: @bg_dim ;
  border-style: inset ;
}

.view.button {
  color		: @text_normal ;
  background-color: @bg_normal ;
  border-color: @border_normal ;
}

.view.button:active {
background-color: @bg_dim
}

.view.button:hover {
  color		: @text_bright ;
  border-color	: @border_bright ;
  background-color: @bg_bright ;
}

.view.scrollbar:hover {
  color		: @text_bright ;
  border-color	: @border_bright ;
  background-color: @bg_bright ;
}

/* separator stuff */

.separator {
    color: @border_normal ;
/*    background-color: @border_normal ; */
}

.separator:hover {
    color: @border_bright ;
}

.separator:insensitive {
    color: @border_dim ;
}

.separator:active {
    color: @border_dim ;
}


/* padding */

/*
.menubar {
background-color: black;
border-color: green;
border-style: inset;
}
*/

/* padding: top left bottom right; */


GtkMenuItem {
padding: 0px 4px 1px 2px;
/* padding: 0 0 0 0; */ 
}

.menu {
padding: 1px 1px;
}

.button {
padding: 1px 1px 1px 1px;
}

GtkToolbar .button {
padding: 1px 0px 1px 0px;
}

tab {
padding: 2px 1px 1px 1px;
}

/* GtkStatusbar stuff */

GtkStatusbar * {
border-width: 1px ;
border-style: inset ;
}
GtkStatusbar .button {
border-width: 0px ;
}

/* tooltips */

.tooltip {
border-color: darker (@border_dim);
border-width: 1px; 
border-style: solid;
}

/* GtkSwitch stuff (I have nothing to test this with yet) */


/*
GtkSwitch.trough {
border-width: 1 ;
border-style: inset ;
}

GtkSwitch.slider {
border-width:1 ;
border-style: outset ;
}
*/

/* view row/column colouring */

.view column:sorted row,
.view column:sorted row:hover {
  background-color: @view_sorted_light;
}

.view column:sorted row:nth-child(odd),
.view column:sorted row:nth-child(odd):hover {
  background-color: @view_sorted_dark;
}

.view row,
.view row:hover {
  background-color: @view_normal_light;
/*  color: red; */
}

.view row:nth-child(odd),
.view row:nth-child(odd):hover {
  background-color: @view_normal_dark;
}

/* == selected == */

.view column:sorted row:selected,
.view column:sorted row:hover:selected {
  color		: @selected_text ;
  background-color: @selected_bg ;
}

.view column:sorted row:nth-child(odd):selected,
.view column:sorted row:nth-child(odd):hover:selected {
  color		: @selected_text ;
  background-color: @selected_bg_odd ;
}

.view row:selected,
.view row:hover:selected {
  color		: @selected_text ;
  background-color: @selected_bg ;
/*  color: red; */
}

.view row:nth-child(odd):selected,
.view row:nth-child(odd):hover:selected {
  color		: @selected_text ;
  background-color: @selected_bg_odd ;
}

/* theme specific */

.menu:hover, .menubar:hover, GtkMenuItem:hover, .menubar.menuitem:hover {
color : @text_normal ;
background-color : @bg_dimmed_menu ;
border-color: @border_normal ;
border-width: 1px;
border-style: inset;
}

.entry:selected, .view:selected, .entry:selected:hover, .view:selected:hover {
  color		: @selected_text ;
  background-color: @selected_bg ;
}

/* DBZ FOREVER!!! !!! !!! */
