[Desktop Entry]
Type=Application
Name=Colemak keyboard layout
Exec=/run/host/usr/bin/setxkbmap -layout us -variant colemak -option terminate:ctrl_alt_bksp
NoDisplay=true
