[Desktop Entry]
Type=Application
Name=KDE Connect Indicator
Comment=Show Cortex KDE Connect devices in the XFCE notification area
Exec=kdeconnect-indicator
Icon=kdeconnect
Terminal=false
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
StartupNotify=false
