[Desktop Entry]
Name=Bulk Rename
Comment=Rename Multiple Files
GenericName=Bulk Rename
Keywords=bulk;renamer;renaming;thunar;files;folders;directory;directories;
Exec=thunar --bulk-rename %F
Icon=/home/metsatron/.local/share/dotcortex/guests/sanctuary-godzilla-xs/home/Pictures/redo-border-3x.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Core;GTK;Filesystem;
Path=
