# Managed by DotCortex via flatpak.org.
ACTION=="add", SUBSYSTEM=="input", KERNEL=="event*", ENV{ID_INPUT_JOYSTICK}=="1", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="05c4", RUN+="/home/metsatron/.local/bin/ds4-right-deadzone /dev/input/%k"
ACTION=="add", SUBSYSTEM=="input", KERNEL=="event*", ENV{ID_INPUT_JOYSTICK}=="1", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="09cc", RUN+="/home/metsatron/.local/bin/ds4-right-deadzone /dev/input/%k"
