# [[file:../../../../services.org::*HelmCortex Borg systemd units — X230][HelmCortex Borg systemd units — X230:7]]
[Unit]
Description=Run HelmCortex Borg snapshots every half hour

[Timer]
OnBootSec=15min
OnUnitActiveSec=30min
AccuracySec=2min
Unit=helmcortex-borg-halfhour.service

[Install]
WantedBy=timers.target
# HelmCortex Borg systemd units — X230:7 ends here
