[Desktop Entry]
Type=Action
Name=Mount as Optical Disc (D:)
Icon=drive-optical
Profiles=mount;

[X-Action-Profile mount]
MimeTypes=application/x-cd-image;application/x-iso9660-image;
Exec=/home/metsatron/.local/bin/redstone-9x-disc mount %f
