[Desktop Entry]
Name=Quod Libet
GenericName=Audio Player
Comment=Listen to, tag and organize your music (Guix-fenced wrapper)
Exec=quodlibet %U
Icon=io.github.quodlibet.QuodLibet
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;GTK;
MimeType=audio/mpeg;audio/mp4;audio/x-flac;audio/x-vorbis+ogg;audio/x-wav;audio/x-opus+ogg;
StartupNotify=true
