[Desktop Entry]
Name=Logseq DB
GenericName=Knowledge Base
Exec=logseq-db %U
Terminal=false
Type=Application
Icon=logseq-db
StartupWMClass=Logseq
Comment=A privacy-first, open-source platform for knowledge management and collaboration.
MimeType=x-scheme-handler/logseq;
Categories=Office;
