[Desktop Entry]
Name=Antigravity
Comment=Experience liftoff
GenericName=Text Editor
Exec=env PATH=/home/metsatron/.local/bin:/home/metsatron/.npm-global/bin:/home/metsatron/.guix-extra-profiles/core/core/bin:/usr/local/bin:/usr/bin:/bin /usr/share/antigravity/antigravity %F
Icon=antigravity
Type=Application
StartupNotify=false
StartupWMClass=Antigravity
Categories=TextEditor;Development;IDE;
MimeType=application/x-antigravity-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=env PATH=/home/metsatron/.local/bin:/home/metsatron/.npm-global/bin:/home/metsatron/.guix-extra-profiles/core/core/bin:/usr/local/bin:/usr/bin:/bin /usr/share/antigravity/antigravity --new-window %F
Icon=antigravity
