[Desktop Entry]
Name=Antigravity Hub
Comment=Antigravity command center
GenericName=Agent Manager
Exec=/home/metsatron/.local/bin/antigravity-hub %F
TryExec=/home/metsatron/.local/bin/antigravity-hub
Icon=/home/metsatron/.local/share/antigravity-ide/2.1.1-6123990880747520/resources/app/out/vs/platform/browserOnboarding/static/antigravity.svg
Type=Application
StartupNotify=false
StartupWMClass=Antigravity Hub
Categories=Development;IDE;
Keywords=vscode;
