[Desktop Entry]
Name=Antigravity IDE
Comment=Antigravity editor surface
GenericName=Text Editor
Exec=/home/metsatron/.local/bin/antigravity-ide %F
TryExec=/home/metsatron/.local/bin/antigravity-ide
Icon=antigravity-ide
Type=Application
StartupNotify=false
StartupWMClass=Antigravity IDE
Categories=Development;IDE;
MimeType=application/x-antigravity-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/home/metsatron/.local/bin/antigravity-ide --new-window %F
Icon=antigravity-ide
