[Desktop Entry]
Version=1.0
Type=Application
Name=VSCodium
Comment=Free/Libre Open Source Software Binaries of VS Code
Exec=codium-host
Icon=com.visualstudio.code
Terminal=false
StartupNotify=false
