[Desktop Entry]
Version=1.0
Name=Toggle darkman
GenericName=Toggle dark mode
Comment=Toggle dark mode via darkman
Keywords=dark;light;colour-preference;theme;
Exec=darkman toggle
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Settings;
