[Desktop Entry]
Name=FireDragon (New Tab)
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/lib/firedragon/firedragon --file-forwarding org.garudalinux.firedragon @@u --new-tab "%s"
Terminal=false
Type=Application
Icon=bezilla
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;

