[Desktop Entry]
Version=1.0
Type=Application
Name=Goneovim
Comment=Neovim GUI written in Go, using a Qt binding for Go.
Exec=goneovim-core
Icon=goneovim
Path=
Terminal=false
StartupNotify=false
