[Desktop Entry]
Version=1.0
Type=Application
Name=Jellyfin Toggle
Exec=/home/metsatron/.local/bin/jellyfin-toggle
Icon=Fish-icon
Terminal=false
StartupNotify=false
