[Desktop Entry]
Version=1.0
Type=Application
Name=Mount as Optical Disc (D:)
Comment=Mount this disc image as drive D:
Exec=/home/metsatron/.local/bin/redstone-9x-disc mount %f
MimeType=application/x-iso9660-image;application/x-cd-image;
Icon=drive-optical
Terminal=false
