[Desktop Entry]
Version=1.0
Type=Application
Name=Insert Optical Disc (D:)
Comment=Insert this disc image as drive D:
Exec=redstone-9x-disc insert %f
MimeType=application/x-iso9660-image;application/x-cd-image;
Icon=drive-optical
Terminal=false
