[Desktop Entry]
Type=Application
Name=Rofi Launcher
Comment=Application launcher (rofi drun)
Exec=/home/metsatron/.local/bin/rofi-launch
Icon=BeOS_Menu
Terminal=false
Categories=Utility;
NoDisplay=true
