[Desktop Entry]
Type=Application
Name=Rofi Windows
Comment=Window switcher (rofi -show window)
Exec=/home/metsatron/.local/bin/rofi-window
Icon=preferences-system-windows
Terminal=false
Categories=Utility;
NoDisplay=true
X-KDE-Shortcuts=Meta+W
