[Desktop Entry]
Type=Application
Name=Rofi Emoji
Comment=Emoji picker (rofimoji)
Exec=/home/metsatron/.local/bin/rofi-emoji-menu
Icon=face-smile
Terminal=false
Categories=Utility;
NoDisplay=true
X-KDE-Shortcuts=Meta+.
