[Desktop Entry]
Type=Application
Name=Rofi Run
Comment=Run command (rofi -show run)
Exec=/home/metsatron/.local/bin/rofi-run
Icon=system-run
Terminal=false
Categories=Utility;
NoDisplay=true
