[Desktop Entry]
Version=1.0
Type=Application
Name=NsCDE Sanctuary
GenericName=Distrobox Sanctuary
Comment=NsCDE (Not so Common Desktop Environment, FVWM CDE recreation) sanctuary (Distrobox/Xephyr)
Exec=/home/metsatron/.local/bin/sanctuary-menu-launch nscde
Icon=/home/metsatron/.local/share/icons/Iris/scalable/devices/monitor.svg
Terminal=false
StartupNotify=false
Categories=System;
Keywords=sanctuary;distrobox;nscde;cde;fvwm;motif;
