[Desktop Entry]
Name=Transmission (Qt)
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
Keywords=torrents;downloading;uploading;share;sharing;
Exec=env QT_QPA_PLATFORMTHEME=gtk3 transmission-qt %U
Icon=transmission
Terminal=false
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;Qt;
Actions=Minimize;

[Desktop Action Minimize]
Name=Start Transmission Minimized
Exec=env QT_QPA_PLATFORMTHEME=gtk3 transmission-qt --minimized
