[Desktop Entry]
Version=1.0
Name=WezTerm (Left Stack)
Comment=Launch WezTerm with the left-stack layout
Exec=/home/metsatron/.local/bin/wez-left-stack
Icon=BeOS_terminal
StartupWMClass=org.wezfurlong.wezterm
Type=Application
Keywords=wezterm;terminal;shell;left-stack;split;
Categories=System;TerminalEmulator;
Terminal=false
X-Flatpak=org.wezfurlong.wezterm
StartupNotify=false
