[Desktop Entry]
Version=1.0
Name=WezTerm
Comment=Wez's Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=BeOS_terminal
StartupWMClass=org.wezfurlong.wezterm
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 org.wezfurlong.wezterm
Type=Application
Categories=System;TerminalEmulator;
Terminal=false
X-Flatpak=org.wezfurlong.wezterm
StartupNotify=false
