# ~/.dotfiles/all/.local/share/applications/WezTerm Left Stack.desktop
[Desktop Entry]
Type=Application
Name=WezTerm, Left Stack
Comment=50-50 vertical, then split left pane bottom
Exec=/usr/bin/env WEZ_SPLIT_PLAN=right:70@orig,bottom:26@orig wez-split-plan
Icon=BeOS_terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=false
