# Ephemeral/machine-specific xfconf channels written by xfconfd at runtime.
# keyboard-layout.xml is initialized by sanctuary-sx-launch on first run.
xfce4-session.xml
xfce4-notifyd.xml
displays.xml
xfce4-power-manager.xml
keyboards.xml
