[Unit]
Description=AppImage system integration daemon
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/metsatron/Apps/appimaged-904-x86_64.AppImage

LimitNOFILE=65536

RestartSec=3
Restart=always

Environment=LAUNCHED_BY_SYSTEMD=1

[Install]
WantedBy=default.target