# swap-guardian systemd units

# [[file:../../../../services.org::*swap-guardian systemd units][swap-guardian systemd units:1]]
[Unit]
Description=Early refresh based on RAM/SWAP thresholds

[Service]
Type=oneshot
ExecStart=/usr/bin/env xfce4-refresh-guardian --restart
KillMode=process
# swap-guardian systemd units:1 ends here
