# [[file:../../../../services.org::*swap-guardian systemd units][swap-guardian systemd units:2]]
[Unit]
Description=Run early-refresh guardian periodically

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
Unit=early-refresh.service

[Install]
WantedBy=default.target
# swap-guardian systemd units:2 ends here
