[Unit]
Description=Run kdeconnect-refresh.service periodically

[Timer]
OnBootSec=5m
OnUnitActiveSec=2m
RandomizedDelaySec=30s
Unit=kdeconnect-refresh.service

[Install]
WantedBy=timers.target
