[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-session-logout
Icon=/home/metsatron/.local/share/dotcortex/guests/sanctuary-sx/home/Pictures/undo-border-3x.png
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
Keywords=logout;exit;quit;shutdown;
OnlyShowIn=XFCE;
Name=Log Out
Comment=Log out of the Xfce Desktop
Path=
