[Desktop Entry]
Version=1.0
Type=Application
Name=AstroNVide
Comment=AstroNVim + NeoVide
Exec=astronvide
Icon=astronvim
Path=/home/metsatron/DotCortex
Terminal=false
StartupNotify=false
