[Desktop Entry]
Version=1.0
Type=Application
Name=Cool Retro Term
Exec=/home/metsatron/.local/bin/appimaged wrap "/home/metsatron/Applications/Cool-Retro-Term-1.1.1-x86_64.AppImage"
Icon=appimagekit_b110714bdc0350a056f50e75eb56627a_cool-retro-term
Terminal=false
StartupNotify=true
