[Desktop Entry]
Version=1.0
Type=Application
Name=Doom Emacs
Comment=Retropie Ports
Exec=dx
Icon=lutris_the-ultimate-doom
Path=/home/metsatron/RetroPie/isos/ports
Terminal=false
StartupNotify=false
