[Desktop Entry]
Version=1.0
Type=Application
Name=ExoCortex Brzeemacs
Comment=Spacemacs Grok Edition Brzeemacs
Exec=spc-grok
Icon=/home/metsatron/.local/share/icons/BeOS-r5-Icons/apps/32/SFItre52_1_32x32x8.png
Path=/home/metsatron/HelmCortex/LOGS/Brzeemacs/
Terminal=false
StartupNotify=false
