[Desktop Entry]
Version=1.0
Type=Application
Name=HelmCortex LumEmacs
Comment=Spacemacs ChatGPT Edition HelmCortex
Exec=spc-gpt
Icon=/home/metsatron/.local/share/icons/BeOS-r5-Icons/apps/32/SFItre58_1_32x32x8.png
Path=/home/metsatron/HelmCortex/
Terminal=false
StartupNotify=false
