[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty
Exec=/home/metsatron/.local/bin/kitty
Icon=org.gnome.Terminal
Terminal=false
StartupNotify=false
