[Desktop Entry]
Version=1.0
Type=Application
Name=Neovide
Exec=neovide-core
Icon=neovide
Path=/home/metsatron/DotCortex
Terminal=false
StartupNotify=false
