[Desktop Entry]
Type=Application
Name=Recall embedder
Exec=bash -c '$HOME/HelmCortex/FORGE/bin/recall embedder start >/dev/null 2>&1'
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
