{
  Dock = {
    Position = "@DOCK_X@,0";
    Lowered = Yes;
    AutoRaiseLower = No;
    Applications = (
      {
        Name = Logo.WMDock;
        Position = "0,0";
        Command = "-";
        Forced = No;
        BuggyApplication = No;
        AutoLaunch = No;
        Lock = No;
      },
      {
        Name = wmclock.WMClock;
        Position = "0,1";
        Command = wmclock;
        Forced = No;
        BuggyApplication = No;
        AutoLaunch = Yes;
        Lock = Yes;
      },
      {
        Name = wmcpuload.DockApp;
        Position = "0,2";
        Command = wmcpuload;
        Forced = No;
        BuggyApplication = No;
        AutoLaunch = Yes;
        Lock = Yes;
      },
      {
        Name = wmbattery.wmbattery;
        Position = "0,3";
        Command = wmbattery;
        Forced = No;
        BuggyApplication = No;
        AutoLaunch = Yes;
        Lock = Yes;
      },
      {
        Name = wmnd.wmnd;
        Position = "0,4";
        Command = wmnd;
        Forced = No;
        BuggyApplication = No;
        AutoLaunch = Yes;
        Lock = Yes;
      }
    );
  };
  Clip = {
    Name = Logo.WMClip;
    Position = "0,0";
    Command = "-";
    Forced = No;
    BuggyApplication = No;
    AutoLaunch = No;
    Lock = No;
  };
  Drawers = ();
  Workspaces = (
    {
      Name = "Main";
      Clip = {
        Applications = ();
        Collapsed = No;
        AutoCollapse = No;
        AutoRaiseLower = No;
        AutoAttractIcons = No;
        Lowered = Yes;
      };
    }
  );
}
