[Desktop Entry]
Version=1.0
Type=X-XFCE-Helper
Name=Betterbird
Icon=eu.betterbird.Betterbird
StartupNotify=true
X-XFCE-Category=MailReader
X-XFCE-Commands=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=betterbird eu.betterbird.Betterbird
X-XFCE-CommandsWithParameter=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=betterbird eu.betterbird.Betterbird "%s"
