[Desktop Entry]
Type=Application
Name=NFS pre-mount
Exec=bash -c 'ls "$HOME/mnt/x230/" > /dev/null 2>&1 &'
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
