[Desktop Entry]
Type=Application
Name=Rofi Launcher Keybindings
Comment=Bind the rofi launcher suite via xfconf once the XFCE session has settled
Exec=sh -c 'sleep 12; exec "$HOME/.local/bin/rofi-keybinds-xfce"'
NoDisplay=true
X-XFCE-Autostart-Override=true
OnlyShowIn=XFCE;
