[Desktop Entry]
Type=Application
Name=Virtual Habitat Workspace Shortcuts
Comment=Re-assert Super+1/2/3/4 workspace grabs after session settles (xfwm4 drops Super+4 on startup regrab races)
Exec=sh -c 'sleep 12; exec "$HOME/.local/bin/xfce-sanctuary-shortcuts"'
NoDisplay=true
X-XFCE-Autostart-Override=true
OnlyShowIn=XFCE;
