[Desktop Entry]
Version=1.0
Type=Application
Name=Eject Optical Disc (D:)
Comment=Unmount the disc image currently in drive D:
Exec=sh -c 'exec /home/metsatron/.local/bin/redstone-9x-disc eject'
Icon=media-eject
Terminal=false
