[Desktop Entry]
Version=1.0
Type=Application
Name=Root Disk (Z:)
Comment=Open the Wine root filesystem mapping
Exec=sh -c 'pcmanfm "$HOME/.wine-redstone/dosdevices/z:"'
Icon=drive-harddisk
Terminal=false
