XTerm*background:         black
XTerm*foreground:         white
XTerm*cursorColor:        white
XTerm*VT100.geometry:     80x25

! XTerm*faceName:           Terminus:style=Regular:size=10
! XTerm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
! These lines you do not need ... 

XTerm*font:                 Inconsolata-g-10
XTerm*dynamicColors:      true
XTerm*utf8:               2
XTerm*eightBitInput:      true
XTerm*saveLines:          512
XTerm*scrollKey:          true
XTerm*scrollTtyOutput:    false
XTerm*scrollBar:          true
XTerm*rightScrollBar:     true
XTerm*jumpScroll:         true
XTerm*multiScroll:        true
XTerm*toolBar:            false

UXTerm*background:         black
UXTerm*foreground:         white
UXTerm*cursorColor:        white
UXTerm*VT100.geometry:     90x30

! UXTerm*faceName:           Terminus:style=Regular:size=10
! UXTerm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*

UXTerm*font:                Inconsolata-g-10
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          512
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          true
UXTerm*rightScrollBar:     true
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false

URxvt*termName:rxvt-unicode-256color
Xft.antialias:  true
Xft.autohint:   true
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcdlight
Xft.rgba:       rgb
Xft.dpi:        96

URxvt*transparent:false

URxvt.cursorColor:#505050

urxvt*foreground: #C5C8C6
urxvt*background: #333333

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC

!Fonts
URxvt*font: xft:Inconsolata\ for\ Powerline:pixelsize=14

!Say no to scrollbars
URxvt*scrollBar:false

! Size of my terminal
URxvt.geometry:112x37+800+570
URxvt.imLocale:en_US.UTF8

URxvt*skipBuiltinGlyphs: true

! Amount that I can scroll up
URxvt.saveLines: 12000

! Underline URLs
URxvt.underlineURLs:true

URxvt.iso14755_52:false
URxvt.iso14755:false

! Add color to my!man pages:
URxvt.colorIT: #87af5f
URxvt.colorBD: #d7dfdf
!URxvt.colorUL:

