XTerm*background:         black
XTerm*foreground:         white
XTerm*cursorColor:        white
XTerm*VT100.geometry:     80x25

! XTerm*faceName:           Terminus:style=Regular:size=10
! XTerm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
! These lines you do not need ... 

XTerm*font:                 Inconsolata-g-10
XTerm*dynamicColors:      true
XTerm*utf8:               2
XTerm*eightBitInput:      true
XTerm*saveLines:          512
XTerm*scrollKey:          true
XTerm*scrollTtyOutput:    false
XTerm*scrollBar:          true
XTerm*rightScrollBar:     true
XTerm*jumpScroll:         true
XTerm*multiScroll:        true
XTerm*toolBar:            false

UXTerm*background:         black
UXTerm*foreground:         white
UXTerm*cursorColor:        white
UXTerm*VT100.geometry:     90x30

! UXTerm*faceName:           Terminus:style=Regular:size=10
! UXTerm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*

UXTerm*font:                Inconsolata-g-10
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          512
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          true
UXTerm*rightScrollBar:     true
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false

URxvt*termName:rxvt-unicode-256color
Xft.antialias:  true
Xft.autohint:   true
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcdlight
Xft.rgba:       rgb
Xft.dpi:        96

URxvt*transparent:false

! special
*.foreground:   #34302d
*.background:   #f5e7de
*.cursorColor:  #34302d

! black
*.color0:       #666661
*.color8:       #7f7f7a

! red
*.color1:       #992e2e
*.color9:       #b23636

! green
*.color2:       #4c3226
*.color10:      #664233

! yellow
*.color3:       #a67c53
*.color11:      #bf8f60

! blue
*.color4:       #4c7399
*.color12:      #5986b2

! magenta
*.color5:       #bf9986
*.color13:      #d9ae98

! cyan
*.color6:       #d97742
*.color14:      #f2854a

! white
*.color7:       #34302d
*.color15:      #4c4742


!Fonts
URxvt*font: xft:Roboto\ Mono\ for\ Powerline:pixelsize=11

!Say no to scrollbars
URxvt*scrollBar:false

! Size of my terminal
URxvt.geometry:97x37
URxvt.imLocale:en_US.UTF8

URxvt*skipBuiltinGlyphs: true

! Amount that I can scroll up
URxvt.saveLines: 12000

! Underline URLs
URxvt.underlineURLs:true

URxvt.iso14755_52:false
URxvt.iso14755:false

! Add color to my!man pages:
URxvt.colorIT: #87af5f
URxvt.colorBD: #d7dfdf
!URxvt.colorUL:

