"*":
  core:
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "48ee1987-52d0-4bd7-a490-29ec7301ddef"
  organized: {}
  welcome:
    showOnStartup: false
