{{ define "main" }}
<article class="window">
  <h1 class="window-tab">{{ .Title }}</h1>
  <div class="window-body">
    {{ $icon := printf "icons/%s.png" .Section }}
    {{ if fileExists (printf "static/%s" $icon) }}
    <img class="room-icon room-icon-page" src="/{{ $icon }}" alt="" width="256" height="256">
    {{ end }}
    {{ if not .Date.IsZero }}<p class="page-meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time></p>{{ end }}
    <div class="prose">
      {{ .Content }}
    </div>
  </div>
</article>
{{ end }}
