{{ define "main" }}
<article class="window">
  <h1 class="window-tab">{{ .Title }}</h1>
  <div class="window-body">
    {{ $icon := printf "icons/%s.png" .Section }}
    {{ if fileExists (printf "static/%s" $icon) }}
    <img class="room-icon" src="/{{ $icon }}" alt="" width="256" height="256">
    {{ end }}
    <div class="prose">
      {{ .Content }}
    </div>
    {{ with .RegularPages }}
    <ul class="entry-list">
      {{ range . }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ if not .Date.IsZero }}<span class="entry-date">{{ .Date.Format "2 Jan 2006" }}</span>{{ end }}
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</article>
{{ end }}
